<launch>
  <include file="$(find proc_ura)/launch/proc_ura_gazebo_world.launch" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/proc_ura" args="joint_state_controller
					  joint1_position_controller
					  joint2_position_controller
					  joint3_position_controller
					  joint4_position_controller
					  joint5_position_controller"/>

</launch>